
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font");
body {
    font-family: Arial,Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 8px;
    background-color:white;
    
    
}
h2 {

    text-align:center;
}
* {
    box-sizing:border-box;
}

.row {
    
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:0 -10px;
}
.col-3 {
    
    -ms-flex:25%;
    flex:25%;
}
.col-2 {
    
    -ms-flex: 50%;
    flex: 50%;
}
.col-main {
    
    -ms-flex: 75%;
    flex: 75%;
}
.col-3, .col-2, .col-main {
    padding:0 16px;
    color:black;
}
.container {
    
    background-color:whitesmoke;
    padding: 3px 18px 13px 18px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
input[type=text] {
    width:100%;
    margin-bottom:20px;
    padding:12px;
    border:1px solid #ccc;
    border-radius:3px;
}

label {
    margin-bottom: 10px;
    display: block;
}
.icon-container {
    margin-bottom:48px;
    padding:7px 0;
    font-size:24px;
}
.btn2 {
    margin-bottom: 29px;
    background-color:#f2b807;
    color:black;
    padding:12px;
    border:none;
    width:100%;
    border-radius:3px;
    cursor:pointer;
    font-size:17px;
}
.btn {
    margin-top: 75px;
    
    background-color:#f2b807;
    color:black;
    padding:12px;
    border:none;
    width:100%;
    border-radius:3px;
    cursor:pointer;
    font-size:17px;
}
.btn:hover {
    background-color:#4caf50;
}

.btn2:hover {
    background-color:#4caf50;
}
a {
    border:1px solid lightgrey;
}
span.price {
    float:right;
    color:grey;
}
@media(max-width:800px) {
    .row {

        flex-direction:column-reverse;


    }
    .col-3 {
        margin-bottom:auto;
    }
}
.user {
    width: 100px;
    height: 100px;
    overflow: hidden;

}
.user2 {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    overflow: hidden;

}