@import url("https://fonts.googleapis.com/css?family=Montserrat:&display=swap");

/*HOME PAGE*/

/*CORE STYLES*/

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: whitesmoke;
  color: #f2b807;
  font-size: 24px;
  line-height: 1.8;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 4px;
}

p {
  margin: 0;
  padding: 1em 0;
  padding-top: 0px;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 4px;
}
.btn {
  display: inline-block;
  background: transparent;
  color: #101010;
  text-decoration: none;
  font-weight: 400;
  padding: 40px 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #101010;
  margin-right: 0.5em 0;
  letter-spacing: 2px;
}

.btn:hover {
  background: #101010;
  color: #eaeaea;
}

/*NAVIGATION BAR*/

nav {
  background: #101010;
  padding: 10px 40px 10px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}
nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li.logo {
  flex: 1;
  font-size: 30px;
  font-weight: 700;
  color: #eaeaea;
}
nav ul div.items {
  padding: 0 25px;
  display: inline-flex;
}
nav ul div.items a {
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
  color: #eaeaea;
}

nav ul div.items a.active,
nav ul div.items a:hover {
  color: #f2b807;
}

nav ul li.btn {
  font-size: 29px;
  flex: 1;
  padding: 0 40px;
  display: none;
}
nav ul li.btn span {
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #151515;
  border-radius: 5px;
  cursor: pointer;
}
/*Dropdown menu formatting*/
.dropdown .dropbtn {
  background: none;
  color: white;
  border: none;
  font-size: 17px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #101010;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown .dropdown-content a:hover {
  background-color: #f2b807;
  color: #101010;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f2b807;
  color: #101010;
}
/*Menu bars for responsive design
nav ul li.btn span.show:before {
  content: "\f00d";
}*/

/*Formatting the Search Box*/
.search-box {
  background: #101010;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  border: 1px solid #f2b807;
}

.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn {
  background: none;
  color: whitesmoke;
  text-decoration: none;
}
.search-btn {
  color: #f2b807;
  float: right;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 20px;
  width: 0px;
  color: #f2b807;
}

/*Responsive design for NAVBAR*/
/*@media screen and (max-width: 1052px) {
  nav{
    padding: 10px 40px 10px 0px;
  }
  nav ul li.logo{
    display: none;
  }
  nav ul div.items{
    flex: 4;
  }
}
@media screen and (max-width: 800px){
  nav ul li.btn{
    display: block;
  }
  nav{
    z-index: 1;
    padding: 9px 40px 9px 0;
  }
  nav ul div.items{
    z-index: -1;
    position: fixed;
    top: -220px;
    right: 0;
    width: 100%;
    background: #222222;
    display: inline-block;
    transition: top .4s;
  }
  nav ul div.items.show{
    top: 60px;
  }
  nav ul div.items li{
    text-align: center;
    line-height: 30px;
    margin: 30px 0;
  }
  nav ul div.items li a{
    font-size: 19px;
  }
}
@media screen and (max-width: 405px) {
  nav ul{
    flex-wrap: nowrap;
  }
  nav ul li.search{
    width: 50vmin;
  }
  nav ul li input{
    width: 40vmin;
  }
  nav ul li .search-icon{
    width: 10vmin;
  }
}*/

/*HEADER CAROUSEL*/
#carousel {
  min-height: 450px;
  color: #101010;
  text-align: center;
}

#carousel .bg-img {
  position: absolute;
  background: #101010 url(./images/warriorEnergy3.jpg);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.5;
}

#carousel h1 {
  padding-top: 180px;
  padding-bottom: 0px;
  font-weight: bolder;
  text-shadow: none;
  font-size: 55px;
  color: #101010;
}

#carousel p {
  padding-top: 0px;
  padding-bottom: 72px;
  color: #101010;
  font-weight: bold;
  font-size: 22px;
}

#carousel .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

#carousel .btn {
  font-size: 16px;
  color: #f2b807;
  font-weight: 700;
  padding: 16px 18px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #101010;
  border-radius: 0px;
  border: 1px solid #f2b807;
}

#carousel .btn:hover {
  background: #f2b807;
  border-color: #f2b807;
  color: #101010;
}

/*SECTION A*/
#section-a {
  padding: 16px;
  color: #101010;
}

#section-a .section-title h2 {
  text-align: center;
  padding-bottom: 1em;
}

.categoryGrid {
  font-family: "Montserrat", "sans-serif";
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-top: 0px;
  border: 4px solid #101010;
}

.categoryGrid:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.categoryGrid:hover:before {
  background: #101010;
}

.categoryGrid .categoryImage {
  overflow: hidden;
  position: relative;
}

.categoryGrid .categoryImage a {
  display: block;
}

.categoryGrid .categoryImage img {
  width: 100%;
  height: auto;
}

.categoryGrid .categoryContent {
  padding: 18px;
  position: relative;
  z-index: 2;
  background-color: #101010;
}

.categoryGrid .category-title a {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px 0;
  color: #f2b807;
  font-weight: bold;
}

/*SECTION B*/
#section-b .box {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-top: 0px;
  border: none;
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 10px;
  padding-bottom: 100px;
}

#section-b .content-text {
  background: #f2b807;
  padding: 30px;
  position: relative;
  margin: auto;
  height: 755px;
}

#section-b .content-text h2 {
  font-size: 60px;
  color: #101010;
}

#section-b .content-text p {
  font-size: 22px;
  color: #101010;
}

.box .image {
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
  padding-top: 50px;
}

.box .image img {
  width: auto;
  height: auto;
}

#section-b .btn {
  color: #101010;
  border-color: #101010;
  border-radius: 1px;
  width: 50%;
  font-size: 28px;
}

#section-b .btn:hover {
  background: #101010;
  color: #f2b807;
  border: none;
}

/*FOOTER*/

#main-footer {
  padding: 2em;
  background: #101010;
  color: #eaeaea;
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
}

/*MEDIA QUERIES(for responsive design)*/

/*@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding: 0;
    text-align: justify;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}*/

/*HOME PAGE*/

<<<<<<< HEAD
#shopNow-carousel .shop-img {
  position: absolute;
  background: url(./images/Elter-Ego-Logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  z-index: -1;
  opacity: 1;
}
#shopNow-carousel h1 {
  padding-top: 100px;
  padding-bottom: 0;
}
#shopNow-carousel .content-wrap {
  padding: 0 1.5em;
}

/*Section Sb*/
#section-Sb ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
#section-Sb li {
  width: 600px;
}

.tee-btn,
.hat-btn,
.swim-btn {
  display: block;
  font-size: 30px;
  width: 100%;
  background-color: #f2b807;
  border: 0;
  outline: #f2b807;
}

button:hover {
  color: #f2b807;
  background-color: #222222;
}

/*ABOUT PAGE*/
.about-body {
  font-family: "Montserrat", sans-serif;
}
.about-page {
  text-align: center;
}

div.description {
  background: #101010;
  padding: 50px;
}

.about-header {
  position: relative;
}

.about-header h1 {
  color: whitesmoke;
  font-weight: bolder;
  font-size: 32px;
}

.about-content {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#tee-pic,
.card img {
  padding-bottom: 16px;
  width: 100%;
}

<<<<<<< HEAD
.about-content p {
  font-weight: 500;
  text-align: center;
  width: 88%;
  color: whitesmoke;
=======
.about-content p,
.contact-section h3 {
  font-family: "Poppins";
  font-weight: 300;
  color: #111;
  width: 55%;
>>>>>>> f2fdc514c44f45b0aaf3bbe2bb09bc13ce56c452
  margin: auto;
  font-size: 22px;
}

div.delivery-info {
  background-color: #f2b807;
  padding: 50px;
}

.delivery-info p {
  color: #101010;
}
.delivery-info h1 {
  font-weight: bolder;
  color: #101010;
}

#truck,
#card-icon {
  font-size: 100px;
  color: #101010;
}

<<<<<<< HEAD
/*Contact*/
.contact-main {
  padding-bottom: 100px;
}
.contact-section {
  background-color: whitesmoke;
  color: #111;
=======
/*CONTACT PAGE*/
#contact-body .contact-section {
  color: #101010;
<<<<<<< HEAD
  font-family: "Montserrat", sans-serif;
=======
>>>>>>> db53704bc72657714475f904116c1f16e1a0ca02
  font-family: "Poppins";
>>>>>>> f2fdc514c44f45b0aaf3bbe2bb09bc13ce56c452
  padding: 40px;
  margin: auto;
  width: 80%;
  box-sizing: border-box;
  border-radius: 50px;
}

<<<<<<< HEAD
.border {
  width: 100px;
  height: 10px;
  background-color: #;
  margin: 40px auto;
}
.contact-form {
=======
#contact-body .contact-form {
>>>>>>> db53704bc72657714475f904116c1f16e1a0ca02
  max-width: 600px;
  margin: 40px auto;
  padding: 0 10px;
  overflow: hidden;
}

#contact-body .contact-form-text {
  display: block;
  width: 60%;
  box-sizing: border-box;
<<<<<<< HEAD
  margin: 16px 0;
  margin-left: auto;
  margin-right: auto;
=======
  margin: 16px auto;
>>>>>>> f2fdc514c44f45b0aaf3bbe2bb09bc13ce56c452
  border: 0;
  background: #222222;
  padding: 20px 40px;
  color: whitesmoke;
  transition: 0.5s;
}

<<<<<<< HEAD
.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #f2b807;
=======
#contact-body .contact-form-text:focus {
  box-shadow: 0 0 10px 4px whitesmoke;
>>>>>>> db53704bc72657714475f904116c1f16e1a0ca02
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}
.contact-form-btn {
  border: 0;
  background-color: #f2b807;
<<<<<<< HEAD
=======
  color: #222222;
>>>>>>> f2fdc514c44f45b0aaf3bbe2bb09bc13ce56c452
  padding: 12px 50px;
  border-radius: 1px;
  cursor: pointer;
  transition: 0.5s;
<<<<<<< HEAD
  padding-bottom: 10px;
=======
  color: #101010;
<<<<<<< HEAD
  font-size: large;
}
.contact-form-btn:hover {
  background-color: #101010;
=======
>>>>>>> db53704bc72657714475f904116c1f16e1a0ca02
}
.contact-form-btn:hover {
  background-color: #222222;
>>>>>>> f2fdc514c44f45b0aaf3bbe2bb09bc13ce56c452
  color: whitesmoke;
}

/*PRODUCT PAGE*/

#product-body .section-a {
  text-align: left;
}

#product-body .section-a h2 {
  color: #101010;
  font-size: 32px;
  font-weight: bold;
  padding: 0px;
}

#product-body .section-b,
.section-b p {
  text-align: left;
  font-size: 16px;
}

#product-body .section-c {
  text-align: left;
  font-size: 16px;
}

.section-b ul li {
  list-style: none;
}

#product-body .container {
  margin-top: 100px;
  margin-left: 100px;
}

#product-body .section-a h3 {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #101010;
}

.newarrival {
  background: #f2b807;
  width: 80px;
  height: 28px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#product-body,
.col-md-7 h2 {
  text-decoration: none;
  color: #555555;
}

.price {
  float: right;
  color: #101010;
  font-size: 22px;
}

.section-c input {
  border: 1px solid #ccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 30px;
}

#product-body .section-c .cartBtn {
  float: right;
  background: #101010;
  color: whitesmoke;
  font-size: 15px;
  margin-left: 20px;
  border-radius: 0px;
}

#product-body label {
  color: gray;
  font-weight: 500;
}
select {
  width: 100px;
}

/*CATEGORY PAGE*/
