@import url("https://fonts.googleapis.com/css?family=Kanit|Roboto&display=swap");

/*CORE STYLES*/

body {
  margin: 0;
  font-family: "Kanit";
  background: #222222;
  color: #f2b807;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

/*Navigation Bar*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  background-color: #222222;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 40px;
}
.nav-links li,
.login-btn li {
  list-style: none;
}
.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 12px;
  padding: 5px;
}

.nav-links a:hover,
.login-btn a:hover {
  background-color: #111;
  font-size: 10px;
}

.search-box {
  background: #222222;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}
.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
  transition: 0.8s;
}

.search-btn {
  color: black;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.login-btn a {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 11px;
  padding: 5px;
}
/*Navigation Bar*/
img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
  font-weight: bolder;
}

p {
  margin: 0;
  padding: 1em 0;
  font-weight: lighter;
}
.btn {
  font-size: 15px;
  display: inline-block;
  background: #f2b807;
  color: #222222;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #f2cb07;
  margin-right: 0.5em 0;
}

a.social {
  color: #f2b807;
}

.btn:hover {
  background: #222222;
  color: #f2b807;
}

/*HEADER CAROUSEL*/

#carousel {
  min-height: 450px;
  color: #f2b807;
  text-align: center;
}

#carousel .bg-img {
  position: absolute;
  background: #222222 url(./images/warriorEnergy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.3;
}

#carousel h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#carousel .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/*SECTION A*/

#section-a,
#section-Sa {
  background: whitesmoke;
  color: #222222;
  padding-bottom: 2em;
}

/*SECTION B*/

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li,
#section-Sb li {
  margin-bottom: 1em;
  background: #eaeaea;
  color: #222222;
}

.card-content {
  padding: 1.5em;
}

/*SECTION C*/

#section-c {
  background: #eaeaea;
  color: #222222;
  padding: 2em;
}

/*SECTION D*/
#section-d .box {
  padding: 2em;
  color: #eaeaea;
}

#section-d .box:first-child {
  background: #f2b807;
  color: #222222;
}

/*FOOTER*/

#main-footer {
  padding: 2em;
  background: #f2b807;
  color: #222222;
  text-align: center;
  font-weight: bold;
}

/*MEDIA QUERIES(for responsive design)*/

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding: 0;
    text-align: justify;
  }

  .content-wrap,
  #section-b ul,
  #section-Sb ul {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }

  #section-b ul,
  #section-Sb ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}

/*Shop Now*/

#shopNow-carousel {
  min-height: 500px;
  color: #f2b807;
  outline: black;
  width: 100%;
}

#shopNow-carousel .shop-img {
  position: absolute;
  background: url(./images/Elter-Ego-Logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  z-index: -1;
  opacity: 1;
}
#shopNow-carousel h1 {
  padding-top: 100px;
  padding-bottom: 0;
}
#shopNow-carousel .content-wrap {
  padding: 0 1.5em;
}

/*Section Sb*/
#section-Sb ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
#section-Sb li {
  width: 600px;
}

.tee-btn,
.hat-btn,
.swim-btn {
  display: block;
  font-size: 30px;
  width: 100%;
  background-color: #f2b807;
  border: solid#f2b807;
  outline: #f2b807;
}

button:hover {
  color: #f2b807;
  background-color: #222222;
}

/*About Page*/
.about-page {
  background-color: whitesmoke;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container {
  display: grid;
  background-color: aqua;
  background: url(/images/egyptianT.jpg) no-repeat left;
  background-size: 55%;
  overflow: hidden;
  padding: 100px;
}

.about-1 {
  width: 55%;
  float: right;
}
