@import url("https://fonts.googleapis.com/css?family=Montserrat:&display=swap");

/*CORE STYLES*/

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: whitesmoke;
  color: #f2b807;
  font-size: 24px;
  line-height: 1.8;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
  padding-bottom: 12px;
  font-weight: 500;
  text-shadow: 1px 1px 1px #111111;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

p {
  margin: 0;
  padding: 1em 0;
  padding-top: 0px;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 4px;
}
.btn {
  display: inline-block;
  background: transparent;
  color: #0d0d0d;
  text-decoration: none;
  font-weight: 400;
  padding: 40px 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #0d0d0d;
  margin-right: 0.5em 0;
  letter-spacing: 2px;
}

a.social {
  color: #f2b807;
  font-size: 48px;
}

.btn:hover {
  background: #0d0d0d;
  color: #eaeaea;
}

/*HEADER CAROUSEL*/

#carousel {
  min-height: 450px;
  color: #f2b807;
  text-align: center;
}

#carousel .bg-img {
  position: absolute;
  background: #222222 url(./images/warriorEnergy.jpg);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.9;
}

#carousel h1 {
  padding-top: 180px;
  padding-bottom: 0px;
  font-weight: bolder;
  text-shadow: none;
  font-size: 42px;
  color: #0d0d0d;
  letter-spacing: 8px;
  text-shadow: -1px -1px 0 #f2b807, 1px -1px 0 #f2b807, -1px 1px 0 #f2b807,
    1px 1px 0 #f2b807;
}

#carousel p {
  padding-top: 0px;
  padding-bottom: 72px;
  color: #0d0d0d;
  font-weight: bold;
  font-size: 32px;
}

#carousel .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

#carousel .btn {
  font-size: 16px;
  font-weight: 700;
  padding: 16px 18px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #f2b807;
}

#carousel .btn:hover {
  background: #0d0d0d;
  border-color: #f2b807;
  color: #f2b807;
}

/*SECTION A*/

#section-a {
  background: whitesmoke;
  color: #0d0d0d;
  padding-bottom: 0px;
  padding-top: 10px;
}

/*SECTION B*/

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #f2b807;
  color: #0d0d0d;
}

.card-content {
  padding: 24px;
}

.content-title {
  color: #0d0d0d;
  padding: 0;
}

/*SECTION C*/

#section-c {
  background: #0d0d0d;
  color: whitesmoke;
  padding: 2em;
}

#section-c .content-title {
  color: whitesmoke;
}

/*SECTION D*/
#section-d .box {
  padding: 2em;
  color: #0d0d0d;
}

#section-d .box:last-child {
  background: #0d0d0d;
  color: whitesmoke;
}

#section-d .box:last-child .btn {
  background: transparent;
  color: whitesmoke;
  border-color: white;
}

#section-d .box:last-child .btn:hover {
  background: #f2b807;
  color: #0d0d0d;
  border: none;
}

/*FOOTER*/

#main-footer {
  padding: 2em;
  background: #f2b807;
  color: #0d0d0d;
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
}

/*MEDIA QUERIES(for responsive design)*/

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding: 0;
    text-align: justify;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}
